<p><%= t('common.hello') %> <%= @resource.email %>!</p>

<p><%= t('.change_password') %></p>

<p><%= link_to t('common.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.dont_change_password') %></p>
<p><%= t('.change_until_access') %></p>
